.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 30px 0;
  overflow: hidden;
  background-color: #00c2cb;
  color: black;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-between;
  align-items: flex-start;
}

/* #00C2CB, #FF66C4, #FFC157, #4B42FF, #111111 */
.logo {
  margin-left: 30px;
  width: 70px;
  height: 70px;
}
.icon {
  margin-right: 30px;
  width: 30px;
  height: 30px;
  background-color: #00c2cb;
}

.nav-list-item {
  float: left;
}

.nav-list-item {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list-item:hover:not(.active) {
  /* background-color: #111; */
}

.active {
  background-color: #04aa6d;
}

.float-right {
  float: right;
}

.connect-wallet-button {
  background-color: #4b42ff;
  padding-left: 10px;
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 12px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.connect-wallet-button:hover {
  /* background-color: #093c29 !important; */
  color: white;
}

.disconnect-wallet-button {
  background-color: #224b3c;
  color: white;
  border-radius: 12px;
  margin-right: 20px;
  padding: 8px 12px;
}

.disconnect-wallet-button:hover {
  background-color: #3b413f !important;
}

.nav-title-item {
  font-weight: 800;
  font-size: 30px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  margin-left: 40px;
}
