.profile-page-container{
    background-color: rgb(247, 247, 247);
    display: flex;
    padding: 40px;
    justify-content: space-between;
    min-height:400px
}


.profile-page-panel{
    border-radius: 12px;
    min-height:100%;
}


.profile-card-container{
    width:30%;
}


.profile-comments-container{
    width:60%
}

.section-nav-bar{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: none;
}

.page-tab{

    list-style-type: none;
    overflow: hidden;
    /* margin-bottom: 20px; */
    background-color: none;
    padding: 8px;
    margin: 7px;
    /* border-bottom: green solid 2px; */
    font-size: 24px;
    font-weight: 500;
    float: left;
  }
  
  

  .page-tab.active-page-tab{
    border-bottom: green solid 2px;
  }
  

a .page-tab {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a .page-tab:hover{
    border-bottom: green solid 4px;
    font-weight: 700;
    cursor: pointer;

  }